{% extends 'base.html.twig' %}

{% block title %}Cave à idées !
{% endblock %}

{% form_theme memoryForm 'tailwind_2_layout.html.twig' %}

{% block body %}
	{{parent ()}}
	<div class="bg-pink-100 w-full body">
		<div class="bg-pink-100 font-sans flex items-center justify-center">
			<div x-data="{ openTab: 1 }" class="p-8 w-10/12">
				<div class="w-full mx-auto">
					<div class="mb-4 flex space-x-4 p-2 bg-white rounded-lg shadow-md">
						<button x-on:click="openTab = 1" :class="{ 'bg-pink-400 text-white': openTab === 1 }" class="flex-1 py-2 px-4 rounded-md focus:outline-none focus:shadow-outline-pink transition-all duration-300">Memories Bruts
						</button>
						<button x-on:click="openTab = 2" :class="{ 'bg-pink-400 text-white': openTab === 2 }" class="flex-1 py-2 px-4 rounded-md focus:outline-none focus:shadow-outline-pink transition-all duration-300">Memories Classifiés
						</button>
					</div>

					<div x-show="openTab === 1" class="transition-all duration-300 bg-white p-4 rounded-lg shadow-md border-l-4 border-pink-400 ">

						<div class="flex flex-col justify-center items-center ">
							<div class="w-full !z-5 relative flex flex-col rounded-[20px] bg-white bg-clip-border shadow-3xl shadow-shadow-500 flex flex-col w-full !p-4 3xl:p-![18px] bg-white undefined">
								<div class="relative flex flex-row justify-between">
									<div class="flex items-center">
										<div class="flex h-9 w-9 items-center justify-center rounded-full bg-pink-200"></div>
										<h4 class="ml-4 text-xl font-bold text-navy-700 text-pink-400">
											Boîte de réception
										</h4>
									</div>
								</div>

								<div class="max-w-2xl w-full mx-auto py-9">
									<div class="relative mb-12 ">
										{{ form_start(memoryForm)}}
										{{ form_row(memoryForm.title) }}
										{{ form_row(memoryForm.description) }}
										<button type="submit" class="text-white absolute w-1/5 right-2.5 bg-pink-400 hover:bg-pink-600 focus:ring-4 focus:outline-none focus:ring-pink-200 font-medium rounded-lg text-sm px-4 py-2">
											<div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none p-3">
												<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
													<path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
												</svg>
											</div>
											Créer
										</button>
										{{form_end(memoryForm)}}
									</div>
								</div>
							</br>
						</br>


						<div class="h-full w-full">
							{% for donnee in donnees %}
								{% if donnee.user.id == user.id %}
									<div class="mt-2 flex items-center justify-between p-2 memory-{{donnee.id}} hover:bg-gray-50">
										<div class="memory-container memory-container-{{donnee.id}} flex items-center justify-center gap-6 " data-id="{{donnee.id}}" data-urltypes="{{path('app_type')}}" data-url="{{path('memories_update', { id: donnee.id }) }}">
											<h3 class="memory-title text-base font-bold text-navy-700 title-memory-{{donnee.id}}">{{donnee.title}}</h3>
											<div class="memory-description text-base text-navy-700 description-memory-{{donnee.id}}">{{donnee.description}}</div>
											<div class="flex items-center justify-between absolute right-4 gap-5">
												<div class="delete-button-container">
													<button class="delete-button text-white bg-pink-400 hover:bg-pink-500 focus:ring-4 focus:outline-none focus:ring-pink-300 font-medium rounded-lg text-sm px-1 " type="button" data-id="{{donnee.id}}" data-path="{{path('memories_delete', { id: donnee.id }) }}">X</button>
												</div>

												<button data-id="{{donnee.id}}" class="buttonmodal text-white bg-pink-400 hover:bg-pink-500 focus:ring-4 focus:outline-none focus:ring-pink-300 font-medium rounded-lg text-sm px-1" type="button">
													<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
														<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
													</svg>
												</button>
											</div>
										</div>
									</div>
									<div class="modal modal-{{donnee.id}} fixed top-0 left-0 w-screen h-screen flex items-center justify-center bg-pink-300 bg-opacity-50 transform scale-0 transition-transform duration-300">
										<div class="bg-white w-1/3 h-1/3 p-12">

											<button type="button" class="closebutton focus:outline-none">
												<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke="currentColor">
													<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
												</svg>
											</button>
										</br>

										<h2 class="memory-title text-center text-lg font-bold text-navy-700 title-memory-{{donnee.id}}">{{donnee.title}}</h2>

									</br>
								</br>
								<div class="flex items-center justify-center gap-40">
									<div class="relative inline-block text-left">
										<button class="dropdown-button-type dropdown-button-type-{{donnee.id}} inline-flex justify-center w-full px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-blue-500">
											Type
											<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 ml-2 -mr-1" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
												<path fill-rule="evenodd" d="M6.293 9.293a1 1 0 011.414 0L10 11.586l2.293-2.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd"/>
											</svg>
										</button>
										<div class="dropdown-menu-type origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5">
											<div class="py-2 p-2" role="menu" aria-orientation="vertical" aria-labelledby="dropdown-button">
												{% for type in types %}
													<p class="flex block rounded-md px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 active:bg-blue-100 cursor-pointer" name="selected_type" data-idm={{donnee.id}} data-id="{{type.id}}" data-url="{{path('update_memory_type', { id: donnee.id }) }}" role="menuitem">{{type.name}}</p>
												{% endfor %}
											</div>
										</div>
									</div>
									<div class="relative inline-block text-left">
										<button class="dropdown-button-category dropdown-button-category-{{donnee.id}} inline-flex justify-center w-full px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-blue-500">
											Catégories
											<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 ml-2 -mr-1" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
												<path fill-rule="evenodd" d="M6.293 9.293a1 1 0 011.414 0L10 11.586l2.293-2.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd"/>
											</svg>
										</button>
										<div class="dropdown-menu-category origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5">
											<div class="py-2 p-2" role="menu" aria-orientation="vertical" aria-labelledby="dropdown-button">
												{% for category in categories %}
													<p class="flex block rounded-md px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 active:bg-blue-100 cursor-pointer" name="selected_category" data-idm={{donnee.id}} data-id="{{category.id}}" data-url="{{path('update_memory_category', { id: donnee.id }) }}" role="menuitem">{{category.name}}</p>
												{% endfor %}
											</div>
										</div>
									</div>
								</div>
								<div class="flex justify-center items-center pt-4">
									<button type="button" data-id={{donnee.id}} class="closebutton2 text-white bg-pink-400 hover:bg-pink-600 focus:ring-4 focus:outline-none focus:ring-pink-200 font-medium rounded-lg text-sm px-4 py-2">
										Valider
									</button>
								</div>

							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<div x-show="openTab === 2" class="transition-all duration-300 bg-white p-4 rounded-lg shadow-md border-l-4 border-pink-400">
	<div class="flex flex-col justify-center items-center ">
		<div class="w-full !z-5 relative flex flex-col rounded-[20px] bg-white bg-clip-border shadow-3xl shadow-shadow-500 flex flex-col w-full !p-4 3xl:p-![18px] bg-white undefined">
			<div class="relative flex flex-row justify-between">
				<div class="flex items-center">
					<div class="flex h-9 w-9 items-center justify-center rounded-full bg-pink-200"></div>
					<h4 class="ml-4 text-xl font-bold text-navy-700 text-pink-400">
						Boîte de réception
					</h4>
				</div>
			</div>
		</br>
	</br>
		
	<div class="w-full">
    <div class='w-full container px-6 mx-auto'>
        <div class='grid grid-cols-3 gap-3 items-center justify-center'>
            {% for categories, counts in groupedMemories %}

            <div class="buttonmodal-category flex flex-wrap flex-row justify-center items-center p-2 m-4 bg-white rounded-md shadow-xl border-l-4 border-pink-300 cursor-pointer">
                <div class="flex justify-between w-full">
                    <div>
                        <div class="p-2">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M20.25 7.5l-.625 10.632a2.25 2.25 0 01-2.247 2.118H6.622a2.25 2.25 0 01-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z" />
                            </svg>
                        </div>
                    </div>
                    <div>
                        <div style="padding-top: 0.1em; padding-bottom: 0.1rem"
                            class="flex items-center text-xs px-3 bg-pink-200 text-pink-800 rounded-full">25%</div>
                    </div>
                </div>
                <div class="pb-4">
                    <div class="font-bold text-5xl text-center">
                        {{counts}}
                    </div>
                    <div class="font-bold text-sm">
                        {{categories}}
                    </div>
                </div>
            </div>

            <div class="modal-category fixed top-0 left-0 w-screen h-screen flex items-center justify-center bg-pink-300 bg-opacity-50 transform scale-0 transition-transform duration-300">
                <div class="bg-white w-1/3 h-1/3 p-12">
                    <button type="button" class="closebutton-category focus:outline-none">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewbox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </button>
                    </br>
                    <h2 class="memory-title text-center text-lg font-bold text-navy-700"></h2>
                    </br>
                    </br>
                    <div class="flex items-center justify-center gap-40">
                        <div class="relative inline-block text-left">
                            <!-- Ajoutez votre contenu ici si nécessaire -->
                        </div>
                    </div>
                    <div class="flex justify-center items-center pt-4">
                        <button type="button"
                            class="closebutton2-category text-white bg-pink-400 hover:bg-pink-600 focus:ring-4 focus:outline-none focus:ring-pink-200 font-medium rounded-lg text-sm px-4 py-2">
                            Valider
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
	</div>
	</div>
</div>
			</div>

		</div>

	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
<script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>{% endblock %}
