<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Brain Dumper!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0"/>
		<link rel="stylesheet" href="https://horizon-tailwind-react-git-tailwind-components-horizon-ui.vercel.app/static/css/main.ad49aa9b.css"/>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<script src="{{ asset('build/app.js') }}"></script>
		{% endblock %}
	</head>
	<body class="bg-pink-100">
		{% block body %}
		<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
		<div class="antialiased bg-pink-100 ">
			<div class="w-full text-pink-700 bg-pink-200">
				<div x-data="{ open: true }" class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8">
					<div class="flex flex-row items-center justify-between p-4">
						<a href="{{path('app_memory')}}" class="text-lg font-semibold tracking-widest text-pink-900 uppercase rounded-lg focus:outline-none focus:shadow-outline">Vide-cerveau</a>
						<button class="rounded-lg md:hidden focus:outline-none focus:shadow-outline" @click="open = !open">
							<svg fill="currentColor" viewbox="0 0 20 20" class="w-6 h-6">
								<path x-show="!open" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
								<path x-show="open" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
							</svg>
						</button>
					</div>
					<nav :class="{'flex': open, 'hidden': !open}" class="flex-col flex-grow hidden pb-4 md:pb-0 md:flex md:justify-end md:flex-row">
						{% if app.user %}
							<a class="px-4 py-2 mt-2 text-md font-semibold bg-transparent rounded-lg md:mt-0 hover:text-white focus:text-white hover:bg-pink-400 focus:bg-pink-400 focus:outline-none focus:shadow-outline" href="{{path('app_logout')}}">Se déconnecter</a>

						{% else %}
							<a class="px-4 py-2 mt-2 text-md font-semibold bg-transparent rounded-lg md:mt-0 md:ml-4 hover:text-white focus:text-white hover:bg-pink-400 focus:bg-pink-400 focus:outline-none focus:shadow-outline" href="{{path('app_login')}}">Se connecter</a>
							<a class="px-4 py-2 mt-2 text-md font-semibold bg-transparent rounded-lg md:mt-0 md:ml-4 hover:text-white focus:text-white hover:bg-pink-400 focus:bg-pink-400 focus:outline-none focus:shadow-outline" href="{{path('app_register')}}">S'inscrire</a>
						{% endif %}
					</nav>
				</div>
			</div>
		</div>
		{% if app.user and app.user.isVerified == false %}
			<div class="alert-container min-w-screen m-3 bg-white text-sm text-black rounded-md shadow-lg" role="alert">
				<div class="flex p-4">
					<strong> Votre compte n'est pas activé ! </strong>
					<a href="{{path('resend_verif')}}"> Renvoyer le lien d'activation</a>
					
					<div class=" ml-auto">
						<button type="button" class="close-button inline-flex flex-shrink-0 justify-center items-center h-4 w-4 rounded-md text-black hover:text-pink focus:outline-none focus:ring-2 focus:ring-offset-2 transition-all text-sm">
							<span class="sr-only"></span>
							<svg class="w-3.5 h-3.5" width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M0.92524 0.687069C1.126 0.486219 1.39823 0.373377 1.68209 0.373377C1.96597 0.373377 2.2382 0.486219 2.43894 0.687069L8.10514 6.35813L13.7714 0.687069C13.8701 0.584748 13.9882 0.503105 14.1188 0.446962C14.2494 0.39082 14.3899 0.361248 14.5321 0.360026C14.6742 0.358783 14.8151 0.38589 14.9468 0.439762C15.0782 0.493633 15.1977 0.573197 15.2983 0.673783C15.3987 0.774389 15.4784 0.894026 15.5321 1.02568C15.5859 1.15736 15.6131 1.29845 15.6118 1.44071C15.6105 1.58297 15.5809 1.72357 15.5248 1.85428C15.4688 1.98499 15.3872 2.10324 15.2851 2.20206L9.61883 7.87312L15.2851 13.5441C15.4801 13.7462 15.588 14.0168 15.5854 14.2977C15.5831 14.5787 15.4705 14.8474 15.272 15.046C15.0735 15.2449 14.805 15.3574 14.5244 15.3599C14.2437 15.3623 13.9733 15.2543 13.7714 15.0591L8.10514 9.38812L2.43894 15.0591C2.23704 15.2543 1.96663 15.3623 1.68594 15.3599C1.40526 15.3574 1.13677 15.2449 0.938279 15.046C0.739807 14.8474 0.627232 14.5787 0.624791 14.2977C0.62235 14.0168 0.730236 13.7462 0.92524 13.5441L6.59144 7.87312L0.92524 2.20206C0.724562 2.00115 0.611816 1.72867 0.611816 1.44457C0.611816 1.16047 0.724562 0.887983 0.92524 0.687069Z" fill="currentColor"/>
							</svg>
						</button>
					</div>
				</div>
			</div>
	{% endif %}
	{# {% include "_partials/_flash.html.twig" %} #}
{% endblock %}</html></body></html>
